body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.formWrapper {
  background: #f2f2f2;
  width: 60%;
  padding: 20px;
  margin: 10px auto;
}

.formWrapper input {
  padding: 16px 0 16px 16px;
  margin: 0;
  height: 50px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
}

.formWrapper input:required:focus,
.formWrapper input:not([value=""]) {
  padding: 16px 16px 2px;
}

.formWrapper .label {
  position: absolute;
  left: 0;
  padding: 16px;
  pointer-events: none;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
  min-width: auto;
  font-size: 14px;
}

.formWrapper input:required:focus~label,
.formWrapper input:not([value=""])~label {
  font-size: 12px;
  padding-top: 9px;
  padding-left: 9px;
}

.formWrapper input[type=checkbox] + label {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  padding: 0 10px;
}

.formWrapper input[type=checkbox] {
  display: none;
}

.formWrapper input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding-left: 2px;
  padding-bottom: 3px;
  margin-right: 2px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.formWrapper input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

.formWrapper input[type="radio"]:checked,
.formWrapper input[type="radio"]:not(:checked) {
    display: none;
}
.formWrapper input[type="radio"]:checked + label,
.formWrapper input[type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    padding-top: 0;
    padding-left: 27px;
    margin-right: 20px;
    
}

.formWrapper input[type="radio"]:checked + label:before,
.formWrapper input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.formWrapper input[type="radio"]:checked + label:after,
.formWrapper input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: MediumSeaGreen;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.formWrapper input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.formWrapper input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.formWrapper  input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
}

select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

.mb5 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 16px;
}

.relative {
  position: relative;
}

.errorMsg {
  color: #e00000;
  font-size: 12px;
  display: block;
}

.error {
  border: 2px solid #e00000;
}


.form1  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
}


.form2 label {
  position: absolute;
  left: 0;
  padding:16px;
  pointer-events: none;
  transition: all .2s ease;
  -moz-transition: .2s ease all;
  -webkit-transition: all .2s ease;
  min-width: auto;
}

.form2 input:focus ~ label,
.form2 input:not([value=""]) ~ label {
  padding:6px;
  font-size: 12px;
}

.form2  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form2 .errorMsg {
  margin: 5px 0;
}
