body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hide {
  display: none;
}

.errorClass {
  color: red;
}

.labels {
  color: grey;
  font-size: 14px;
}

select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #ffff;
}

/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}
